<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.server.mapper.EmployeeMapper">

    <resultMap id="EmployeeMap" type="org.server.entity.Employee">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="phone" property="phone"/>
        <result column="birthday" property="birthday"/>
        <result column="hire_date" property="hireDate"/>
        <result column="salary" property="salary"/>
        <collection property="warehouses" ofType="org.server.entity.Warehouse">
            <id column="wid" property="id"/>
            <result column="wname" property="name"/>
        </collection>
    </resultMap>

    <select id="getEmployeeList" resultMap="EmployeeMap">
        select * from view_employee_warehouse
        <if test="keyword != null">
            where name like concat('%',#{keyword},'%')
        </if>
    </select>

    <insert id="addEmployee">
        insert into tb_employee(name, gender, phone, birthday, hire_date, salary)
        values (#{name}, #{gender}, #{phone}, #{birthday}, CURRENT_DATE(), #{salary})
    </insert>

    <insert id="addWarehouseByEid">
        insert ignore into tb_employee_warehouse(eid, wid) values
        <foreach collection="widList" item="item" separator=",">
            (#{eid}, #{item})
        </foreach>
    </insert>

    <update id="updateEmployeeInfo">
        update tb_employee
        set name=#{name}, gender=#{gender}, phone=#{phone},
        birthday=#{birthday}, salary=#{salary}
        where id=#{id}
    </update>

    <delete id="deleteEmployeeById">
        delete from tb_employee where id=#{id}
    </delete>

    <delete id="deleteAllWarehouseByEid">
        delete from tb_employee_warehouse where eid=#{eid}
    </delete>
</mapper>
