<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.server.mapper.RoleMapper">

    <select id="getRolesByUid" resultType="org.server.entity.Role">
        select r.* from tb_role r, tb_user_role ur
        where ur.uid=#{uid} and ur.rid=r.id
    </select>

    <insert id="addUserRole">
        insert into tb_user_role(uid, rid)
        values (#{uid}, 2)
    </insert>
</mapper>
