<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.server.mapper.WarehouseMapper">

    <resultMap id="WarehouseEmployeeMap" type="org.server.entity.Warehouse">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <collection property="operators" ofType="org.server.entity.Employee">
            <id column="eid" property="id"/>
            <result column="ename" property="name"/>
            <result column="gender" property="gender"/>
            <result column="phone" property="phone"/>
            <result column="birthday" property="birthday"/>
            <result column="hire_date" property="hireDate"/>
            <result column="salary" property="salary"/>
        </collection>
    </resultMap>

    <resultMap id="WarehouseProductMap" type="org.server.entity.Product">
        <id column="pid" property="id"/>
        <result column="pname" property="name"/>
        <result column="supplier" property="supplier"/>
        <result column="amount" property="total"/>
    </resultMap>

    <select id="getWarehouseList" resultMap="WarehouseEmployeeMap">
        select * from view_warehouse_employee
        <if test="keyword != null">
            where name like concat('%',#{keyword},'%')
        </if>
    </select>

    <!-- 仓库中产品信息 -->
    <select id="getProductListById" resultMap="WarehouseProductMap">
        select * from view_warehouse_product
        where id=#{id}
        <if test="keyword != null">
            and pname like concat('%',#{keyword},'%')
        </if>
    </select>

    <select id="getWarehouseByName" resultType="org.server.entity.Warehouse">
        select * from tb_warehouse where name=#{name}
    </select>

    <select id="getWarehouseById" resultType="org.server.entity.Warehouse">
        select * from tb_warehouse where id=#{id}
    </select>

    <insert id="addWarehouse" parameterType="org.server.entity.Warehouse">
        insert ignore into tb_warehouse(name) values (#{name})
    </insert>

    <delete id="deleteWarehouseById">
        delete from tb_warehouse where id=#{id}
    </delete>
</mapper>
