<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.server.mapper.EmployeeMapper">

  <resultMap id="EmployeeMap" type="org.server.entity.Employee">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="gender" property="gender"/>
    <result column="phone" property="phone"/>
    <result column="salary" property="salary"/>
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>
    <collection property="warehouses" ofType="org.server.entity.Warehouse">
      <id column="wid" property="id"/>
      <result column="wname" property="name"/>
    </collection>
  </resultMap>

  <select id="findEmployees" resultMap="EmployeeMap">
    select * from view_employee_warehouse
    <if test="keyword != null">
      where name like concat('%',#{keyword},'%')
    </if>
  </select>

  <insert id="addWarehouseByEid">
    insert ignore into employee_warehouse(eid, wid) values
    <foreach collection="widList" item="item" separator=",">
      (#{eid}, #{item})
    </foreach>
  </insert>


  <delete id="deleteAllWarehouseByEid">
    DELETE
    FROM employee_warehouse
    WHERE eid = #{eid}
  </delete>
</mapper>
