<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.server.mapper.OrderMapper">

    <select id="list" resultType="org.server.entity.Order">
        select * from order where status=#{status}
        <if test="startTime != null ">
            and create_time >= #{startTime}
        </if>
        <if test="endTime != null">
            and create_time <![CDATA[<=]]> #{endTime}
        </if>
    </select>

    <select id="getOrderChart" resultType="org.server.dto.OrderChart">
        select
            DATE_FORMAT(create_time, '%Y-%m-%d') as date,
            count(*) as count
        from order
        GROUP BY DATE_FORMAT(create_time, '%Y-%m-%d')
    </select>



</mapper>
