<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.server.mapper.OrderMapper">

    <select id="getOrderList" resultType="org.server.entity.Order">
        select * from tb_order where status=#{status}
        <if test="startTime != null ">
            and create_time >= #{startTime}
        </if>
        <if test="endTime != null">
            and create_time <![CDATA[<=]]> #{endTime}
        </if>
    </select>

    <select id="getOrderChart" resultType="org.server.dto.OrderChart">
        select
            DATE_FORMAT(create_time, '%Y-%m-%d') as date,
            count(*) as count
        from tb_order
        GROUP BY DATE_FORMAT(create_time, '%Y-%m-%d')
    </select>

    <insert id="addOrder">
        insert ignore into tb_order(eid, wid, pid, amount, status)
        values (#{eid}, #{wid}, #{pid}, #{amount}, #{status})
    </insert>

    <delete id="deleteOrderById">
        delete from tb_order where id=#{id}
    </delete>

    <update id="updateOrderStatus">
        update tb_order set status=#{status} where id=#{id}
    </update>

</mapper>
