<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.mapper.ProductMapper">

    <select id="count" resultType="java.lang.Integer">
        select count(*) from tb_product
        <if test="keyword != null">
            where name like concat('%', #{keyword}, '%')
        </if>
    </select>

    <select id="selectListByName" resultType="com.admin.entity.Product">
        select * from tb_product
        <if test="keyword != null">
            where name like concat('%',#{keyword},'%')
        </if>
    </select>

</mapper>
