<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.mapper.WarehouseMapper">

    <resultMap id="WarehouseProductMap" type="com.admin.entity.Product">
        <id column="pid" property="id"/>
        <result column="pname" property="name"/>
        <result column="amount" property="total"/>
    </resultMap>

    <select id="getWarehouseList" resultType="com.admin.entity.Warehouse">
        select * from tb_warehouse
        <if test="keyword != null">
            where name like concat('%',#{keyword},'%')
        </if>
    </select>

    <select id="getProductListById" resultMap="WarehouseProductMap">
        select pid, pname, supplier, amount
        from view_warehouse_product where id=#{id}
    </select>

    <select id="getProductByWidAndPid" resultMap="WarehouseProductMap">
        select pid, pname, supplier, amount
        from view_warehouse_product where id=#{wid} and pid=#{pid}
    </select>


    <select id="getWarehouseByName" resultType="com.admin.entity.Warehouse">
        select * from tb_warehouse where name=#{name}
    </select>

    <insert id="addWarehouse">
        insert ignore into tb_warehouse(name) values (#{name})
    </insert>

    <update id="updateWarehouseInfo">
        update tb_warehouse set name=#{name}
        where id=#{id}
    </update>

    <insert id="addEmployeeByWid">
        insert ignore into tb_employee_warehouse(wid, eid) values
        <foreach collection="eidList" item="item" separator=",">
            (#{wid}, #{item})
        </foreach>
    </insert>

    <delete id="deleteAllEmployeeByWid">
        delete from employee_warehouse where wid=#{wid}
    </delete>

    <update id="updateProductByWid">
        update warehouse_product set amount=#{amount}
        where wid=#{wid} and pid=#{pid}
    </update>

    <insert id="addProductByWid">
        insert into warehouse_product(wid, pid, amount)
        values (#{wid}, #{pid}, #{amount})
    </insert>
</mapper>
